@charset "UTF-8";
@media(min-width:800px){
    html{
        font-size: 100%;
    }

    body{
        line-height:1.7;
    }

    footer{
        padding-bottom:30px;
    }

    .logo{
        width:20%;
        margin: auto;
    }

    .img-1{
        width:700px;
        height: auto;
        margin: auto;
    }

    .img-2{
        width:300px;
        height: auto;
        margin: auto;
    }
    
    .img-3{
        width:auto;
        height: auto;
        margin: auto;
    }

    .image-container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height:auto; 
    }

    .image-container img {
        max-width: 30%;
        height: auto;
    }

    .align-center{
        text-align: center;
    }

    .main-nav{
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        font-size: 2rem;
        list-style:none;

    }

    .main-nav a{
        color: black;
    }

    .page-title{
        margin-top: 2rem;
        line-height: 1.4;
        font-size: 3rem;
        text-align: center;
    }

    .heading-large{
        margin-bottom:1rem;
    }


    .about{
        max-width: 850px;
        padding: 0 1.5rem;
        margin:3rem auto 0;
    }

    .about p{
        margin-bottom:3rem;
    }

    .btn{
        display: inline-block;
        font-size: 1.5rem;
        background-color: #70a5d7;
        color: #fff;
        border-radius: 8px;
        padding: .75rem 1.5rem ;
        transition:.5s;
    }

    .btn:hover{
        background-color: #0090aa;
    }

    .free-0{
        padding: 100px;
        width:auto;
        height: 100px;
        font-size:20px;
    }

   .free-1 p{
        text-align: center;
        padding: 20px;
        width:auto;
        height: 10px;
        font-size:20px;
    }

    .free-2 {
        text-align: center;
        font-size: 30px;
    }


    .free-list {
        width: 95%;
        margin: 0 auto;
    }

    .free-list li {
        text-align: left;
        font-size: 25px;
        margin-bottom: 75px;
    }

    .free-list li p {
        text-align: left;
        margin-bottom: 50px;
        font-size: 18px;
    }


    .container{
        display: flex;
        gap: 20px;
    }

    .card{
        width:550px;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid;
    }

    .card img{
        width:325px;
        height: 300px;
        object-fit: cover;
        align-items: center;
    }
    .step {
        margin-bottom: 30px;
        font-size: 22px;
    }

    .step p{
        text-align: left;
    }

    .step img {
        display: block;
        width: 100%;
        max-width: 600px;
        height: 300px;
        margin: 15px auto 0;
        object-fit: cover;  
        border-radius: 10px;
        margin-top: 15px;
    }
}

/* スマホ用レイアウト */
@media (max-width: 799px) {

    html {
        font-size: 90%;
    }

    body {
        line-height: 1.6;
    }

    .logo {
        width: 60%;
        margin: 0 auto;
    }

    .main-nav {
        flex-direction: column;
        gap: 1rem;
        font-size: 1.4rem;
        align-items: center;
    }

    .page-title {
        font-size: 2rem;
        margin-top: 1.5rem;
    }

    .about {
        padding: 0 1rem;
        margin-top: 2rem;
    }

    .about p {
        font-size: 1rem;
    }

    .step {
        font-size: 1.1rem;
        margin-bottom: 40px;
    }

    .step h2 {
        font-size: 1.3rem;
        text-align: center;
    }

    .step p {
        text-align: left;
        font-size: 1rem;
    }

    .step img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    .btn {
        font-size: 1.2rem;
        padding: 0.6rem 1.2rem;
    }

    footer {
        padding-bottom: 20px;
    }
}
